<html>
<head>
    <title>Admin Login</title>
</head>
<body>
    <main>
        <h1>Admin Login</h1>
<form id="loginForm">
                <label for="email">Email</label>
            <input id="email" name="email" type="email" required />

            <label for="password">Password</label>
            <input id="password" name="password" type="password" required />

            <button type="submit">Login</button>
        </form>
        <p id="errorMessage"></p>
    </main>
        <script src="/public/js/login.js"></script>

</body>
</html>