<html>
<head>
	<title>Volunteers</title>
</head>
<body>
	<h1>Manage Volunteers</h1>

	<label for="volunteer-filter">Filter volunteers:</label>

<select id="volunteer-filter">
    <option value="All">All volunteers</option>
    <option value="Approved/Pending">Approved/Pending Approval</option>
    <option value="Approved">Approved volunteers</option>
    <option value="Pending Approval">Pending Approval volunteers</option>
    <option value="Disapproved">Disapproved volunteers</option>
    <option value="Inactive">Inactive volunteers</option>
</select>

<button onclick="location.href='/volunteer-form'">
    Add New Volunteer
</button>

<ul id="volunteerList"></ul>

<script src="/public/js/volunteers.js"></script>

</body>

    </html>